* {
  margin: 0;
  padding: 0;
}

.flex-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
}

.flex-grid .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.hamberger {
  padding: 3px;
  width: 20px;
  height: 5px;
}

@media (min-width: 320px) {
  .flex-grid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  .tabs {
    display: none;
  }
  
  .padding {
    display: none;
  }
}

@media (min-width: 768pt) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
  }
  
  .col {
    /* take into acount margin of 2px on each side */
    width: calc(14.28571vw - 4px);
  }
  
}