body {
  background: #C7AF8E;
}

.pic {
  width: 100%;
  height: 700px;
  position: absolute;
  top: 0;
  /*left: -50%;*/
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
}

section:before {
  content: '';
  display: table;
}

section:after {
  content: '';
  display: table;
  clear: both;
}

.hdr2 {
  height: 30px;
  background: #89937C;
}

.header {
  font-family: 'Advent Pro', sans-serif;
  font-weight: bold;
  width: calc(99.9% * 1/1 - (30px - 30px * 1/1));
  text-align: center;
  color: #5D4B52
}

.header:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none
}

.header:last-child {
  margin-right: 0
}

.header:nth-child(0n) {
  float: right
}

.header .medium {
  display: none;
}

.header h1 {
  font-size: 60pt;
  padding: 10px;
  font-weight: bold;
}

.header h3 {
  font-size: 29pt;
  padding: 10px;
  color: #89937C;
  font-weight: bold;
}

.header .back {
  float: right;
  padding-right: 10px;
  text-decoration: none;
  color: #5D4B52;
}

.main {
  margin-top: 100px;
  width: calc(99.9% * 1/1 - (30px - 30px * 1/1));
  color: #F2F2F2;
  background: #C7AF8E;
  z-index: 2
}

.main:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none
}

.main:last-child {
  margin-right: 0
}

.main:nth-child(0n) {
  float: right
}

.main div {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.main div:before {
  content: '';
  display: table;
}

.main div:after {
  content: '';
  display: table;
  clear: both;
}

.main h1 {
  font-family: 'Tauri', sans-serif;
  font-size: 22pt;
  padding-left: 5px;
  padding-top: 5px;
  margin-bottom: 8px;
  border-bottom: 3px solid #89937C;
  width: 6em;
  color: #5D4B52;
}

.main p {
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  max-width: 400px;
}

.main2 img {
  width: calc(99.9% * 1/2 - (30px - 30px * 1/2));
  width:200px;
  height: auto;
  padding: 5px;
}

.main2 img:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}

.main2 img:last-child {
  margin-right: 0;
}

.main2 img:nth-child(1n) {
  margin-right: 0;
  float: right;
}

.main2 img:nth-child(1n + 1) {
  clear: both;
}

.main2 h1 {
  font-family: 'Tauri', sans-serif;
  font-size: 30px;
  padding-left: 5px;
  padding-top: 5px;
  margin-bottom: 8px;
  border-bottom: 3px solid #89937C;
  width: 6em;
  color: #5D4B52;
}

.main2 .heading {
  width: calc(99.9% * 1/1 - (30px - 30px * 1/1));
}

.main2 .heading:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}

.main2 .heading:last-child {
  margin-right: 0;
}

.main2 .heading:nth-child(0n) {
  float: right;
}

.main2 p {
  padding: 5px;
}

.main2 div {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.main2 div:before {
  content: '';
  display: table;
}

.main2 div:after {
  content: '';
  display: table;
  clear: both;
}

footer {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto
 
}

footer:before {
  content: '';
  display: table
 
}

footer:after {
  content: '';
  display: table;
  clear: both
 
}

footer div {
  width: calc(99.9% * 1/1 - (30px - 30px * 1/1));
  margin-top: 10px;
  border-top: 3px solid #89937C;
}

footer div:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}

footer div:last-child {
  margin-right: 0;
}

footer div:nth-child(0n) {
  float: right;
}

footer form p {
  padding: 5px;
}

footer button {
  display: block;
  width: 5em;
  height: 2em;
}


#menu, #menu ~ .menu {
  display: none;
}

#menu:checked ~ .menu {
  display: block;
  position: absolute;
  width: 90%;
  height: 300px;
  top: 5px;
  left: 5px;
  background: #C7AF8E;
  z-index: 5
}

#menu:checked ~ .menu div a {
  lost-columns: 1/3 0;
  margin-left: calc(99.9% * (-1/3 * -1) - (30px - 30px * (-1/3 * -1)) + 30px) !important;
  display: block;
  width: 40%;
  height: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: #F2F2F2;
  background: #89937C;
  margin: 5px;
  padding-top: 10px;
}

.hamberger {
  float: right;
  width: 20px;
  padding: 5px;
  z-index: 10
}

.hamberger .hamberger-bar {
  display: block;
  margin: 2px;
  width: 20px;
  height: 4px;
  background: #5D4B52;
}

@media (min-width: 768px) {
  .header {
    width: calc(99.9% * 1/1 - (30px - 30px * 1/1));
    height: 30px;
    background: #89937C
  }
  .header:nth-child(1n) {
    float: left;
    margin-right: 30px;
    clear: none
  }
  .header:last-child {
    margin-right: 0
  }
  .header:nth-child(0n) {
    float: right
  }
  .header div {
    width: calc(99.9% * 1/1 - (30px - 30px * 1/1));
    padding-top: 50px;
  }
  .header div:nth-child(1n) {
    float: left;
    margin-right: 30px;
    clear: none;
  }
  .header div:last-child {
    margin-right: 0;
  }
  .header div:nth-child(1n) {
    margin-right: 0;
    float: right;
  }
  .header div:nth-child(1n + 1) {
    clear: both;
  }
  .header .small {
    display: none;
  }
  .header .medium {
    display: block;
  }
  .header h3 {
    float: right;
    margin-right: 8%;
  }
 
  #menu:checked ~ .menu,
  #menu ~ .menu {
    display: inline-block;
    position: absolute;
    top: -102px;
    left: 0;
    width: 90%;
    height: 30px;
    z-index: 10
  }
 
  #menu:checked ~ .menu div, #menu ~ .menu div {
    width: calc(99.9% * 1/5 - (30px - 30px * 1/5));
  }
 
  #menu:checked ~ .menu div:nth-child(1n), #menu ~ .menu div:nth-child(1n) {
    float: left;
    margin-right: 30px;
    clear: none;
  }
 
  #menu:checked ~ .menu div:last-child, #menu ~ .menu div:last-child {
    margin-right: 0;
  }
 
  #menu:checked ~ .menu div:nth-child(0n), #menu ~ .menu div:nth-child(0n) {
    float: right;
  }
 
  #menu:checked ~ .menu div a, #menu ~ .menu div a {
    display: block;
    width: 100px;
    height: 29px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #F2F2F2;
    background: #89937C;
    padding-top: 3px;
    margin: 0;
    z-index: 15;
  }
  
  .hamberger {
    display: none;
  }
  
  .pic {
    width: 100%;
    height: 650px;
  }
  
  .main {
    margin-top: 350px
  }
  
  .main h1 {
    margin-bottom: 12px;
  }
  
  .main div {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .main div:before {
    content: '';
    display: table;
  }
  
  .main div:after {
    content: '';
    display: table;
    clear: both;
  }
  
  .main p {
    max-width: 700px;
    font-size: 120%;
    line-height: 130%;
  }

  p {
    max-width: 700px;
    font-size: 120%;
    line-height: 130%;
  }
  
  .main2 div {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .main2 div:before {
    content: '';
    display: table;
  }
  
  .main2 div:after {
    content: '';
    display: table;
    clear: both;
  }
  
}

@media (min-width: 1024px) {
  .main div {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  .main div:before {
    content: '';
    display: table;
  }
  .main div:after {
    content: '';
    display: table;
    clear: both;
  }
  .main p {
    max-width: 900px;
    font-size: 130%;
    line-height: 150%;
  }
  p {
    max-width: 900px;
    font-size: 130%;
    line-height: 150%;
  }
  .main2 div {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  .main2 div:before {
    content: '';
    display: table;
  }
  .main2 div:after {
    content: '';
    display: table;
    clear: both;
  }
}