$darkest: #271522;
$dark: #5D4B52;
$green: #89937C;
$light: #C1AE9F;
$lightest: #D3BDB0;
$bground: #C7AF8E;
$white: #F2F2F2;
$purewhite: #FFFFFF;

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* root font size (rem) */
html {
  font-size: 62.5%; /* 16px default changed to 10px (10px = 1rem)*/
}

body {
  background: $bground;
  font-size: 1.6rem;
  box-sizing: border-box;
}

:target {
  display: block;
  position: relative;
  top: 0;
  visibility: hidden;
}

.pic {
  width: 100%;
  min-height: 90rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

// nav icon

#nav-check {
  display: none;
}

#nav-icon {
  width: 4rem;
  height: 3rem;
  position: relative;
  margin-top: .3rem;
  float: right;
  transform: rotate(0deg);
  transition: 1s ease-in-out;
  cursor: pointer;
  z-index: 20;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: .7rem;
  width: 100%;
  background: $dark;
  border-radius: .7rem;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

/* Icon part */

#nav-icon span:nth-child(1) {
  top: 0;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 1.2rem;
}

#nav-icon span:nth-child(4) {
  top: 2.4rem;
}

#nav-check:checked + label span:nth-child(1) {
  top: 1.2rem;
  width: 0;
  left: 50%;
}

#nav-check:checked + label span:nth-child(2) {
  transform: rotate(45deg);
}

#nav-check:checked + label span:nth-child(3) {
  transform: rotate(-45deg);
}

#nav-check:checked + label span:nth-child(4) {
  top: 1.2rem;
  width: 0;
  left: 50%;
}

// nav icon end

.menu {
  font-family: 'Advent Pro', sans-serif;
  display: block;
  position: absolute;
  width: 100%;
  height: 62rem;
  top: -62rem;
  background: $green;
  border-bottom: .1rem solid $darkest;
  z-index: 2;

  a:first-child {
    margin-top: 4rem;
  }

  a {
    display: block;
    width: 80%;
    height: auto;
    text-align: left;
    text-decoration: none;
    font-size: 3rem;
    color: $white;
    padding-top: 5px;
    margin-left: 10%;
    padding-bottom: .5rem;
    border-bottom: .1rem solid $bground;
  }
}

#nav-check ~ .menu {
  transform: translateY(0);
  transition: .4s ease-in-out;
}

#nav-check:checked ~ .menu {
  transform: translateY(62rem);
}

header {
  width: 100%;
  height: 100vh;
  min-height: 62rem;
  font-family: 'Advent Pro', sans-serif;
  font-weight: bold;
  text-align: center;
  color: $dark;

  .nav-bar {
    position: absolute;
    width: 100%;
    height: 4rem;
    background: $green;
    z-index: -1;
  }
}

.content {
  flex: 1;
  max-width: 50rem;
  min-width: 32rem;
  height: auto;
  padding: .5rem;
}

.content-flex {
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .item {
    width: 16rem;
    height: 16rem;
  }

  .list {
    width: 22rem;
  }
}

.content-block {
  display: block;
  max-width: 80rem;
  margin: 0 auto;
}

p {
  font-family: 'Montserrat', sans-serif;
  padding: .5rem 0 .5rem 0;
}

.heading-box {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header-primary {
  /*text-transform: uppercase;*/

}
.heading-primary {
  font-family: 'Tauri', sans-serif;
  font-size: 8rem;
  font-weight: bold;
  color: $dark;
  /*padding: 1rem 0 1rem 0;*/
}

.heading-first {
  display: block;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.heading-last {
  display: block;

  animation: moveInRight 1s ease-out;
}

.heading-box-sub {
  position: absolute;
  top: 48%;
  left: 80%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.heading-title {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.8rem;
  color: $green;
  font-weight: bold;

  animation: moveInBottom .5s ease-out .5s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); /* rotate(0); */
  }
  75% {
    transform: translateX(1rem); /* rotate(20deg); */
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem);
  }
  75% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem) rotate(0);
  }
  99% {
    transform: translate(0) rotate(359deg);
  }
  100% {
    opacity: 1;
    transform: translate(0) rotate(360deg);
  }
}

h2 {
  font-family: 'Tauri', sans-serif;
  font-size: 2rem;
  color: $dark;
}

h3 {
  color: $dark;
}

h4 {
  color: $dark;
  text-align: right;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 1rem .5rem 1rem .5rem;
  height: auto;
  color: $white;
  background: $bground;
  z-index: -1;

  p {
    width: 100%;
  }

  h1 {
    width: 100%;
  }

  h2 {
    width: 100%;
  }

  h3 {
    width: 100%;
  }

  h4 {
    width: 100%;
  }
}

.content-pic {
  img {
    width: 50%;
    height: auto;
    padding: .5rem;
    float: right;
  }
}

.sect2 {
  display: block;
  background: $purewhite;
  color: $green;

  h1 {
    text-align: center;
    padding-bottom: 1.5rem;
  }

  .content-flex {
    figure {
      text-align: center;
    }

    img {
      width: 13rem;
      height: 13rem;
    }

    .html5 img {
      padding-top: .5rem;
    }

    .css3 img {
      width: 9.5rem;
      padding-top: .5rem;
    }

    .js img {
      width: 14.7rem;
      height: 14rem;
    }

    .ruby img {
      width: 12rem;
      height: 12.8rem;
      padding-top: .8rem;
    }

    .rails img {
      width: 11rem;
      height: 12.8rem;
      padding-top: .7rem;
    }

    .rspec img {
      padding-top: .5rem;
    }

    .node img {
      width: 15rem;
      padding-top: .8rem;
    }
  }
}

.sect3 {
  display: block;
  background: $green;
  color: $white;
}

.sect4 {
  display: block;
  background: $green;
  color: $white;
  border-top: .3rem solid $light;
  border-bottom: .3rem solid $light;

  h1 {
    text-align: center;
    padding-bottom: 1.5rem;
  }
}

footer {
  display: flex;
  justify-content: center;
  background: $bground;

  h1 {
    width: 100%;
    text-align: center;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 32rem;
    margin: 0 auto;
    border: .2rem solid $green;
    margin-bottom: 3rem;

    input {
      padding: .2rem;
      margin: .5rem;
      width: 95%;
      border: none;
      color: $dark;
      background: $bground;
    }

    textarea {
      padding: .2rem;
      margin: .5rem;
      width: 95%;
      border: none;
      color: $dark;
      background: $bground;
    }

    div {
      border: .2rem solid $green;
      width: 32rem;
    }
  }

  button {
    display: block;
    width: 32rem;
    height: 4rem;
    font-size: 3rem;
    color: $dark;
    border: .2rem solid $green;
  }
}

@media (min-width: 768px) {

  :target {
    top: -4rem;
  }

  .content {
    max-width: 60rem;
  }

  .heading-first {
    display: inline-block;
  }

  .heading-last {
    display: inline-block;
  }

  #nav-icon {
    display: none;
  }

  #nav-check:checked ~ .menu,
  #nav-check ~ .menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    z-index: 2;

    a {
      display: inline-block;
      width: 9rem;
      height: 3rem;
      text-align: center;
      text-decoration: none;
      font-size: 1.8rem;
      color: $white;
      background: $green;
      padding-top: .8rem;
      margin: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }
    transform: rotate(0deg);
    transition: 0s;
  }
}

@media (min-width: 1024px) {

}