$bground: #C7AF8E;
$green: #89937C;
$bar: #5D4B52;
$textc: #F2F2F2;
$headc: #5D4B52;

body {
  background: $bground;
}

.pic {
  width: 100%;
  height: 700px;
  position: absolute;
  top: 0;
  /*left: -50%;*/
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
}

.page {
  max-width: 500px;
  height: 100%;
  margin: 0 auto;
}
#nav-check {
  display: none;
}
// nav icon
#nav-icon {
  width: 40px;
  height: 30px;
  position: relative;
  //margin: 3px auto;
  float: right;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 20;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: $bar;
  border-radius: 7px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

/* Icon */

#nav-icon span:nth-child(1) {
  top: 0;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 12px;
}

#nav-icon span:nth-child(4) {
  top: 24px;
}

//#nav-icon.open span:nth-child(1) {
#nav-check:checked + label span:nth-child(1) {
  top: 12px;
  width: 0;
  left: 50%;
}

//#nav-icon.open span:nth-child(2) {
#nav-check:checked + label span:nth-child(2) {
  transform: rotate(45deg);
}

//#nav-icon.open span:nth-child(3) {
#nav-check:checked + label span:nth-child(3) {
  transform: rotate(-45deg);
}

//#nav-icon.open span:nth-child(4) {
#nav-check:checked + label span:nth-child(4) {
  top: 12px;
  width: 0;
  left: 50%;
}
// nav icon end

.hdr2 {
  height: 30px;
  background: $green;
}

header {
  font-family: 'Advent Pro', sans-serif;
  font-weight: bold;
//  lost-column: 1/1 0;
  text-align: center;
  color: $headc;

  .medium {
    display: none;
  }

  h1 {
      font-size: 60pt;
      padding: 10px;
      font-weight: bold;
    }

  h3 {
      font-size: 29pt;
      padding: 10px;
      color: $green;
      font-weight: bold;
    }

  .back {
    float: right;
    padding-right: 10px;
    text-decoration: none;
    color: $headc;

    }
}

section {
  margin-top: 100px;
//  lost-column: 1/1 0;
  color: $textc;
  background: $bground;
  z-index: 2;

  div {
//    lost-center: 400px;
  }


  h1 {
    font-family: 'Tauri', sans-serif;
    font-size: 22pt;
    padding-left: 5px;
    padding-top: 5px;
    margin-bottom: 8px;
    border-bottom: 3px solid $green;
    width: 6em;
    color: $headc;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    //max-width: 400px;
  }
}

.main2 img {
//  lost-column: 1/2 1;
  width:200px;
  height: auto;
  padding: 5px;
}

.main2 {
  h1 {
      font-family: 'Tauri', sans-serif;
      font-size: 30px;
      padding-left: 5px;
      padding-top: 5px;
      margin-bottom: 8px;
      border-bottom: 3px solid $green;
      width: 6em;
      color: $headc;
  }
  .heading {
//      lost-column: 1/1 0;
  }

  p {
    padding: 5px;
    }

  div {
//    lost-center: 400px;
  }

}

footer {

  div {
      margin-top: 10px;
      border-top: 3px solid $green;
    }

  form {
    width: 160px;
    margin: 0 auto;

    p {
      padding: 5px;
    }
  }

  button {
      display: block;
      width: 5em;
      height: 2em;
  }

}

//#nav-icon ~ .menu {
#nav-check ~ .menu {
  display: none;
}

//#nav-icon.open ~ .menu {
#nav-check:checked ~ .menu {
  display: block;
  position: absolute;
  width: 400px;
  height: 300px;
  top: 5px;
  left: 5px;
  background: $bground;
  z-index: 5;

  a {
    display: block;
    width: 200px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: $textc;
    background: $green;
    margin-top: 5px;
    margin-left: 100px;
    padding-top: 10px;
  }
}

@media (min-width: 768px) {
  .page {
    max-width: 800px;
    height: 100%;

  }

    header {
      width: 100%;
      height: 30px;
      background: $green;

      div {
        width: 100%;
        padding-top: 50px;
      }

      .small {
        display: none;
      }

      .medium {
        display: block;
      }

      h3 {
        float: right;
        margin-right: 8%;
      }
    }

  //#nav-icon.open ~ .menu,
  //#nav-icon ~ .menu {
  #nav-check:checked ~ .menu,
  #nav-check ~ .menu {
    display: inline-block;
    position: absolute;
    top: -102px;
    left: 0;
    width: 90%;
    height: 30px;
    z-index: 10;

    a {
      display: inline-block;
      width: 100px;
      height: 29px;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      color: $textc;
      background: $green;
      padding-top: 3px;
      margin: 0;
      z-index: 15;
    }
  }

  #nav-icon {
    display: none;
  }

  .pic {
    width: 100%;
    height: 650px;
  }

  section {
    margin-top: 350px;

    h1 {
      margin-bottom: 12px;
    }

    div {
//      lost-center: 700px;
    }
    p {
      //max-width: 700px;
      font-size: 120%;
      line-height: 130%;
    }
  }

  p {
    //max-width: 700px;
    font-size: 120%;
    line-height: 130%;
  }

  .main2 {
    div {
//      lost-center: 700px;
    }
  }

}

@media (min-width: 1024px) {
  .page {
    max-width: 1024px;
    height: 100%;
  }
  section {
    div {
//      lost-center: 900px;
    }
    p {
      //max-width: 900px;
      font-size: 130%;
      line-height: 150%;
    }
  }
  p {
    //max-width: 900px;
    font-size: 130%;
    line-height: 150%;
  }
  .main2 {
    div {
//        lost-center: 900px;
    }
  }
}