*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* root font size (rem) */
html {
  font-size: 62.5%;
  /* 16px default changed to 10px (10px = 1rem)*/ }

body {
  background: #C7AF8E;
  font-size: 1.6rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

:target {
  display: block;
  position: relative;
  top: 0;
  visibility: hidden; }

.pic {
  width: 100%;
  min-height: 90rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2; }

#nav-check {
  display: none; }

#nav-icon {
  width: 4rem;
  height: 3rem;
  position: relative;
  margin-top: .3rem;
  float: right;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  cursor: pointer;
  z-index: 20; }

#nav-icon span {
  display: block;
  position: absolute;
  height: .7rem;
  width: 100%;
  background: #5D4B52;
  border-radius: .7rem;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

/* Icon part */
#nav-icon span:nth-child(1) {
  top: 0; }

#nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
  top: 1.2rem; }

#nav-icon span:nth-child(4) {
  top: 2.4rem; }

#nav-check:checked + label span:nth-child(1) {
  top: 1.2rem;
  width: 0;
  left: 50%; }

#nav-check:checked + label span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-check:checked + label span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-check:checked + label span:nth-child(4) {
  top: 1.2rem;
  width: 0;
  left: 50%; }

.menu {
  font-family: 'Advent Pro', sans-serif;
  display: block;
  position: absolute;
  width: 100%;
  height: 62rem;
  top: -62rem;
  background: #89937C;
  z-index: 2; }
  .menu a:first-child {
    margin-top: 4rem; }
  .menu a {
    display: block;
    width: 80%;
    height: auto;
    text-align: left;
    text-decoration: none;
    font-size: 3rem;
    color: #F2F2F2;
    padding-top: 5px;
    margin-left: 10%;
    padding-bottom: .5rem;
    border-bottom: 0.1rem solid #C7AF8E; }

#nav-check ~ .menu {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out; }

#nav-check:checked ~ .menu {
  -webkit-transform: translateY(62rem);
  transform: translateY(62rem); }

header {
  width: 100%;
  height: 100vh;
  min-height: 62rem;
  font-family: 'Advent Pro', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #5D4B52; }
  header .nav-bar {
    position: absolute;
    width: 100%;
    height: 4rem;
    background: #89937C;
    z-index: -1; }

.content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 50rem;
  min-width: 32rem;
  height: auto;
  padding: .5rem; }

.content-flex {
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .content-flex .item {
    width: 16rem;
    height: 16rem; }
  .content-flex .list {
    width: 22rem; }

.content-block {
  display: block;
  max-width: 80rem;
  margin: 0 auto; }

p {
  font-family: 'Montserrat', sans-serif;
  padding: .5rem 0 .5rem 0; }

.heading-box {
  position: absolute;
  top: 22%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

.header-primary {
  /*text-transform: uppercase;*/ }

.heading-primary {
  font-family: 'Tauri', sans-serif;
  font-size: 8rem;
  font-weight: bold;
  color: #5D4B52;
  /*padding: 1rem 0 1rem 0;*/ }

.heading-first {
  display: block;
  -webkit-animation-name: moveInLeft;
  animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out; }

.heading-last {
  display: block;
  -webkit-animation: moveInRight 1s ease-out;
  animation: moveInRight 1s ease-out; }

.heading-box-sub {
  position: absolute;
  top: 48%;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

.heading-title {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.8rem;
  color: #89937C;
  font-weight: bold;
  -webkit-animation: moveInBottom .5s ease-out .5s;
  animation: moveInBottom .5s ease-out .5s; }

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20rem);
    transform: translateX(-20rem);
    /* rotate(0); */ }
  75% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);
    /* rotate(20deg); */ }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20rem);
    transform: translateX(-20rem);
    /* rotate(0); */ }
  75% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);
    /* rotate(20deg); */ }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20rem);
    transform: translateX(20rem); }
  75% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20rem);
    transform: translateX(20rem); }
  75% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem) rotate(0);
    transform: translateY(3rem) rotate(0); }
  99% {
    -webkit-transform: translate(0) rotate(359deg);
    transform: translate(0) rotate(359deg); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0) rotate(360deg);
    transform: translate(0) rotate(360deg); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem) rotate(0);
    transform: translateY(3rem) rotate(0); }
  99% {
    -webkit-transform: translate(0) rotate(359deg);
    transform: translate(0) rotate(359deg); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0) rotate(360deg);
    transform: translate(0) rotate(360deg); } }

h2 {
  font-family: 'Tauri', sans-serif;
  font-size: 2rem;
  color: #5D4B52; }

h3 {
  color: #5D4B52; }

h4 {
  color: #5D4B52;
  text-align: right; }

section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  padding: 1rem .5rem 1rem .5rem;
  height: auto;
  color: #F2F2F2;
  background: #C7AF8E;
  z-index: -1; }
  section p {
    width: 100%; }
  section h1 {
    width: 100%; }
  section h2 {
    width: 100%; }
  section h3 {
    width: 100%; }
  section h4 {
    width: 100%; }

.content-pic img {
  width: 50%;
  height: auto;
  padding: .5rem;
  float: right; }

.sect2 {
  display: block;
  background: #FFFFFF;
  color: #89937C; }
  .sect2 h1 {
    text-align: center;
    padding-bottom: 1.5rem; }
  .sect2 .content-flex figure {
    text-align: center; }
  .sect2 .content-flex img {
    width: 13rem;
    height: 13rem; }
  .sect2 .content-flex .html5 img {
    padding-top: .5rem; }
  .sect2 .content-flex .css3 img {
    width: 9.5rem;
    padding-top: .5rem; }
  .sect2 .content-flex .js img {
    width: 14.7rem;
    height: 14rem; }
  .sect2 .content-flex .ruby img {
    width: 12rem;
    height: 12.8rem;
    padding-top: .8rem; }
  .sect2 .content-flex .rails img {
    width: 11rem;
    height: 12.8rem;
    padding-top: .7rem; }
  .sect2 .content-flex .rspec img {
    padding-top: .5rem; }
  .sect2 .content-flex .node img {
    width: 15rem;
    padding-top: .8rem; }

.sect3 {
  display: block;
  background: #89937C;
  color: #F2F2F2; }

.sect4 {
  display: block;
  background: #89937C;
  color: #F2F2F2;
  border-top: 0.3rem solid #C1AE9F;
  border-bottom: 0.3rem solid #C1AE9F; }
  .sect4 h1 {
    text-align: center;
    padding-bottom: 1.5rem; }

footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #C7AF8E; }
  footer h1 {
    width: 100%;
    text-align: center; }
  footer form {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 32rem;
    margin: 0 auto;
    border: 0.2rem solid #89937C;
    margin-bottom: 3rem; }
    footer form input {
      padding: .2rem;
      margin: .5rem;
      width: 95%;
      border: none;
      color: #5D4B52;
      background: #C7AF8E; }
    footer form textarea {
      padding: .2rem;
      margin: .5rem;
      width: 95%;
      border: none;
      color: #5D4B52;
      background: #C7AF8E; }
    footer form div {
      border: 0.2rem solid #89937C;
      width: 32rem; }
  footer button {
    display: block;
    width: 32rem;
    height: 4rem;
    font-size: 3rem;
    color: #5D4B52;
    border: 0.2rem solid #89937C; }

@media (min-width: 768px) {
  :target {
    top: -4rem; }
  .content {
    max-width: 60rem; }
  .heading-first {
    display: inline-block; }
  .heading-last {
    display: inline-block; }
  #nav-icon {
    display: none; }
  #nav-check:checked ~ .menu,
  #nav-check ~ .menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    z-index: 2;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0s;
    transition: 0s; }
    #nav-check:checked ~ .menu a,
    #nav-check ~ .menu a {
      display: inline-block;
      width: 9rem;
      height: 3rem;
      text-align: center;
      text-decoration: none;
      font-size: 1.8rem;
      color: #F2F2F2;
      background: #89937C;
      padding-top: .8rem;
      margin: 0;
      padding-bottom: 0;
      border-bottom: 0; } }
