* {
  margin: 0;
  padding: 0; }

body {
  background: #C7AF8E; }

.pic {
  width: 100%;
  min-height: 900px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2; }

#nav-check {
  display: none; }

#nav-icon {
  width: 40px;
  height: 30px;
  position: relative;
  margin-top: 3px;
  float: right;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  cursor: pointer;
  z-index: 20; }

#nav-icon span {
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: #5D4B52;
  border-radius: 7px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

/* Icon part */
#nav-icon span:nth-child(1) {
  top: 0; }

#nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
  top: 12px; }

#nav-icon span:nth-child(4) {
  top: 24px; }

#nav-check:checked + label span:nth-child(1) {
  top: 12px;
  width: 0;
  left: 50%; }

#nav-check:checked + label span:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

#nav-check:checked + label span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

#nav-check:checked + label span:nth-child(4) {
  top: 12px;
  width: 0;
  left: 50%; }

.menu {
  font-family: 'Advent Pro', sans-serif;
  display: block;
  position: absolute;
  width: 100%;
  height: 2620px;
  top: -2000px;
  background: #89937C; }
  .menu a:first-child {
    margin-top: 2040px; }
  .menu a {
    display: block;
    width: 80%;
    height: auto;
    text-align: left;
    text-decoration: none;
    font-size: 30px;
    color: #F2F2F2;
    padding-top: 5px;
    margin-left: 10%;
    padding-bottom: 5px;
    border-bottom: 1px solid #C7AF8E; }

#nav-check ~ .menu {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out; }

#nav-check:checked ~ .menu {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg); }

header {
  width: 100%;
  height: 100vh;
  min-height: 620px;
  font-family: 'Advent Pro', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #5D4B52; }
  header .nav-bar {
    position: absolute;
    width: 100%;
    height: 40px;
    background: #89937C;
    z-index: -1; }
  header .heading h1:nth-child(1) {
    padding-top: 80px; }
  header .heading h1:nth-child(2) {
    padding-top: 30px; }
  header .heading h1:nth-child(3) {
    display: none; }
  header h1 {
    font-size: 80px;
    font-weight: bold;
    color: #5D4B52; }
  header h3 {
    font-size: 38px;
    padding: 50px;
    color: #89937C;
    font-weight: bold; }

.content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 500px;
  min-width: 320px;
  height: auto;
  padding: 5px; }

.content-flex {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .content-flex .item {
    width: 160px;
    height: 160px; }
  .content-flex .list {
    width: 220px; }

.content-block {
  display: block;
  max-width: 800px;
  margin: 0 auto; }

section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 100%;
  height: auto;
  color: #F2F2F2;
  background: #C7AF8E;
  z-index: -1; }
  section p {
    font-family: 'Montserrat', sans-serif;
    padding: 5px; }

h2 {
  font-family: 'Tauri', sans-serif;
  font-size: 30px;
  padding: 5px 5px 5px 7px;
  color: #5D4B52; }

#cont2 img {
  width: 50%;
  height: auto;
  padding: 5px;
  float: right; }

.sect2 {
  display: block;
  background: #FFFFFF;
  color: #89937C; }
  .sect2 h2 {
    width: 100%;
    text-align: center; }
  .sect2 .content-flex figure {
    text-align: center; }
  .sect2 .content-flex img {
    width: 130px;
    height: 130px; }
  .sect2 .content-flex .html5 img {
    padding-top: 5px; }
  .sect2 .content-flex .css3 img {
    width: 95px;
    padding-top: 5px; }
  .sect2 .content-flex .js img {
    width: 147px;
    height: 140px; }
  .sect2 .content-flex .ruby img {
    width: 120px;
    height: 128px;
    padding-top: 8px; }
  .sect2 .content-flex .rails img {
    width: 110px;
    height: 128px;
    padding-top: 7px; }
  .sect2 .content-flex .rspec img {
    padding-top: 5px; }
  .sect2 .content-flex .node img {
    width: 150px;
    padding-top: 8px; }

.sect3 {
  display: block;
  background: #89937C;
  color: #F2F2F2;
  paddding-top: 10px;
  padding-bottom: 10px; }
  .sect3 h2 {
    width: 100%;
    padding: 5px 0 5px 0; }
  .sect3 h3 {
    color: #5D4B52; }
  .sect3 h4 {
    width: 100%;
    color: #5D4B52;
    text-align: right; }

.sect4 {
  display: block;
  background: #89937C;
  color: #F2F2F2;
  padding: 10px;
  border-top: 3px solid #C1AE9F;
  border-bottom: 3px solid #C1AE9F; }
  .sect4 h2 {
    width: 100%;
    padding: 5px 0 5px 0; }
  .sect4 .content-flex > h2 {
    text-align: center; }
  .sect4 h3 {
    color: #5D4B52; }
  .sect4 h4 {
    width: 100%;
    color: #5D4B52;
    text-align: right; }

footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-top: 10px;
  background: #C7AF8E; }
  footer h2 {
    width: 100%;
    text-align: center; }
  footer form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 320px;
    margin: 0 auto;
    border: 2px solid #89937C;
    margin-bottom: 30px; }
    footer form input {
      padding: 2px;
      margin: 5px;
      width: 95%;
      border: none;
      color: #271522;
      background: #C7AF8E; }
    footer form textarea {
      padding: 2px;
      margin: 5px;
      width: 95%;
      border: none;
      color: #271522;
      background: #C7AF8E; }
    footer form div {
      border: 2px solid #89937C;
      width: 320px; }
  footer button {
    display: block;
    width: 320px;
    height: 1.3em;
    font-size: 30px;
    color: #5D4B52;
    border: 2px solid #89937C; }

@media (min-width: 768px) {
  .content {
    max-width: 600px; }
  header .heading h1:nth-child(1), header .heading h1:nth-child(2) {
    display: none; }
  header .heading h1:nth-child(3) {
    display: block;
    padding-top: 120px; }
  header h3 {
    padding-top: 160px;
    float: right;
    margin-right: 8%; }
  #nav-icon {
    display: none; }
  #nav-check:checked ~ .menu,
  #nav-check ~ .menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s; }
    #nav-check:checked ~ .menu a,
    #nav-check ~ .menu a {
      display: inline-block;
      width: 90px;
      height: 30px;
      text-align: center;
      text-decoration: none;
      font-size: 12pt;
      color: #F2F2F2;
      background: #89937C;
      padding-top: 8px;
      margin: 0;
      padding-bottom: 0;
      border-bottom: 0; } }
